# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/*
/pythonDemo/.venv**
/pythonDemo/node_modules**
/langchain4j_demo/target**



